@import url(animacoes.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8ABBC8;


    header{
        display: flex;
        justify-content: center;
        position: relative;

        .img-logo{
            width: 100px;
            height: 100px;
            background-image: url(../imgs/anotacao.png);
            background-size: cover;
            margin-top: 20px;
            animation: tilt-in-top-1 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
    main{
        width: 80%;
        margin: 20px 0 20px 0;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.103);
        background-color: #a3ceda7a;
        border-radius: 10px;
        position: relative;
        animation: tilt-in-top-1 .9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        .btn-nova-tarefa{
            width:230px;
            height: 65px;
            display: flex;
            justify-content: center;
            margin: 30px;
            font-size: 1.7rem;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.103);
            border-radius: 5px;
            padding: 6px;
            cursor: pointer;
            }

            &:hover{
                background-color: rgb(150, 216, 218);
                transition: all .5s;
            }

            .img-tarefa{
                width:50px;
                margin-right: 10px;
            }

            .img-tarefa img{
                width: 100%;
            }

            p{
                margin-top: 10px;
                color: rgb(43, 41, 41);
            }

        .tarefas-feitas{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            row-gap: 40px;
            margin-bottom: 30px;
        }

        .tarefa{

            max-width: 350px;
            min-height: 235px;
            background-color: rgb(160, 138, 211);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
            margin: 0 13px 0 13px;
            position: relative;
            overflow-wrap: break-word;

            .img-sair-trf{
                width: 30px;
                margin: 5px;
                cursor: pointer;
                

                & img{
                    width: 100%;
                }


            }

            & p{
                text-align: center;
                margin-bottom: 15px;
                font-size: 1.4rem;
                color: black;
            }
        }
    }

    & p{
        margin-top: 10px;
    }

    & a{
        text-decoration: none;

    }

    .nova-tarefa{
        width: 600px;
        height: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        border-radius: 10px;
        background-color: rgb(182, 170, 211);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.281);
        position: absolute;
        top: 30%;
        z-index: 99;
        animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        .img-sair{
            margin-left: 90%;
            width: 35px;
            cursor: pointer;

            & img{
                width: 100%;
                opacity: 85%;
            }
        }

        & input{
            width: 90%;
            height: 40px;
            border-radius: 5px;
            border: none;
            outline: 1px solid rgba(255, 255, 255, 0.13);
            margin: 8px;
            background-color: rgb(160, 138, 211);
            color: rgb(235, 235, 235);
            padding-left: 10px;
        }

        #conteudo{
            font-size: 1.1rem;
            padding-bottom: 25%;
            justify-content: flex-start;
            overflow-wrap: break-word;
        }

        input:focus{
            border: 1px solid rgba(255, 255, 255, 0.397);
        }

        & #titulo{
            height: 50px;
            font-size: 1.3rem;
        }

        & #conteudo{
            height: 200px;
            margin-bottom: 15px;
        }

        & button{
            height: 35px;
            border-radius: 5px;
            border: none;
            width: 80%;
            margin: 0 auto;
            font-weight: 600;
            background-color: rgb(232, 206, 250);
            cursor: pointer;

            &:hover{
                background-color: rgb(210, 180, 231);
                transition: all .2s;
            }
        }
    }

    .nova-tarefa-background{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.384);
        position: absolute;
    }
    
    footer{
        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    .some{
        display: none;
    }
}


@media (
max-width: 1024px) {

    body main .tarefas-feitas{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    body main .tarefas-feitas{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 560px) {
    body main{
        width: 100%;
    }

    body main .btn-nova-tarefa {
        margin: 20px auto;
    }

    body main .tarefas-feitas{
        margin-top: 70px;
        grid-template-columns: 1fr;
    }
    body main .tarefa {
        width: 90%;
        min-height: 235px;
        margin: auto;
        
    }   

    body .nova-tarefa {
        width: 98%;
    }

    body .nova-tarefa .img-sair{
        margin-left: 87%;
    }
}
