* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8ABBC8;
}
body header {
  display: flex;
  justify-content: center;
  position: relative;
}
body header .img-logo {
  width: 100px;
  height: 100px;
  background-image: url(../imgs/anotacao.png);
  background-size: cover;
  margin-top: 20px;
}
body main {
  width: 80%;
  height: 100vh;
  margin-top: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.103);
  background-color: rgba(163, 206, 218, 0.4784313725);
  border-radius: 10px;
  position: relative;
}
body main .btn-nova-tarefa {
  width: 230px;
  height: 65px;
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 1.7rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.103);
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}
body main .btn-nova-tarefa:hover {
  background-color: rgb(150, 216, 218);
  transition: all 0.5s;
}
body main .btn-nova-tarefa .img-tarefa {
  width: 50px;
  margin-right: 10px;
}
body main .btn-nova-tarefa .img-tarefa img {
  width: 100%;
}
body main .btn-nova-tarefa p {
  margin-top: 10px;
  color: rgb(43, 41, 41);
}
body main .tarefas-feitas {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
}
body main .tarefa {
  width: 350px;
  height: 250px;
  background-color: rgb(160, 138, 211);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
  margin-left: 13px;
}
body main .tarefa .img-sair-trf {
  width: 30px;
  margin: 5px 0 0 90%;
  cursor: pointer;
}
body main .tarefa .img-sair-trf img {
  width: 100%;
}
body main .tarefa p {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.4rem;
  color: black;
}
body main .tarefa #conteudo-trf {
  text-align: start;
  font-size: 1.1rem;
  margin-left: 10px;
}
body footer {
  width: 100%;
  height: 40px;
  background-color: #628c97;
  text-align: center;
}
body p {
  margin-top: 10px;
}
body a {
  text-decoration: none;
}
body .nova-tarefa {
  width: 450px;
  height: 370px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(182, 170, 211);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.281);
  position: absolute;
  top: 30%;
  z-index: 99;
}
body .nova-tarefa .img-sair {
  margin-left: 90%;
  width: 25px;
  cursor: pointer;
}
body .nova-tarefa .img-sair img {
  width: 100%;
  opacity: 85%;
}
body .nova-tarefa input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 8px;
  background-color: rgb(160, 138, 211);
  color: rgb(235, 235, 235);
}
body .nova-tarefa #titulo {
  font-size: 1.3rem;
}
body .nova-tarefa #conteudo {
  height: 200px;
  margin-bottom: 12px;
}
body .nova-tarefa button {
  height: 35px;
  border-radius: 5px;
  border: none;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  background-color: rgb(232, 206, 250);
  cursor: pointer;
}
body .nova-tarefa button:hover {
  background-color: rgb(210, 180, 231);
  transition: all 0.2s;
}
body .nova-tarefa-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.384);
  position: absolute;
}
body .some {
  display: none;
}/*# sourceMappingURL=style.css.map */